# Ignorar la carpeta de dependencias de Node.js
node_modules/

# Ignorar archivos de configuración sensibles
.env

# Ignorar bases de datos y archivos de datos
database
datos
db/

# Ignorar archivos de paquetes generados
package-lock.json
