/* language-selector.css */
.language-selector {
  position: absolute;
  top: 0.625rem;           /* 10px */
  right: 79.375rem;        /* 1270px */
  z-index: 1000;
  background-color: #05668d;
  padding: 0.3125rem 0.625rem; /* 5px 10px */
  border-radius: 0.25rem;      /* 4px */
}

.language-selector select {
  border: none;
  background: #05668d;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 1.25rem; /* 20px */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 0.75rem; /* 12px */
}

.language-selector select option {
  color: white;
}

#language-select {
  font-size: 1.2rem; /* 14px */
}

#language-select option {
  font-size: 1rem; /* 12px */
}
